<!-- Portfolio Grid Section -->
    <section id="manifest" class="bg-light-gray">
        <div class="container">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Propuesta de Valor</h2>
                    <h3 class="section-subheading text-muted">En Upper Analytics utilizamos herramientas estadísitcas y tecnologías líderes en la integración, procesamiento y análisis de la información</h3>
        <div class="container">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
						<img src="/img/sw/tableau.png">
                    </span>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
						<img src="/img/sw/python.png">
                    </span>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
						<img src="/img/sw/rlogo.png" style="width:100px">
                    </span>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
						<img src="/img/sw/powerbi.png" style="width:150px">
                    </span>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
						<img src="/img/sw/powerbi.png" style="width:150px">
                    </span>
                </div>
        </div>
		<br>
                    <p class="section-subheading text-muted">Entregamos soluciones de analytics acordes a las necesidades de nuestros clientes, utilizando una arquitectura robusta, escalable y flexible (on premise/cloud) minimizando el costo de implementación y operación. Elaboramos soluciones (reportes, tableros de KPI, alertas, entre otros) posibles de ser accedidos desde cualquier lugar en múltiples dispositivos (Smartphone, Tablet, Laptop, entre otros)</p>
                </div>
        </div>
    </section>
