<!-- Portfolio Grid Section -->
    <section id="manifest" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Propuesta de Valor</h2>
                    <h3 class="section-subheading text-muted">En Upper Analytics utilizamos tecnologías líderes en la integración, procesamiento y análisis de la información, entre las que destacamos:</h3>
                    <br>
                    <br>
                    <br>
                    <h3 class="section-subheading text-muted">Entregamos soluciones de Analytics acordes a las necesidades de nuestros clientes, utilizando una arquitectura flexible (on premise/cloud) minimizando el costo de implementación y operación.</h3>
                </div>
            </div>

        </div>
    </section>
