<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Desarrollamos soluciones de analítica apoyando la toma de decisiones, facilitando el compartir datos de forma colaborativa, logrando un mayor entendimiento de sus clientes y encontrando oportunidades de optimización en su empresa</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Soluciones de Analítica Descriptiva</h4>
                    <p class="text-muted">Creamos visualizaciones que ayuden a comprender el funcionamiento del negocio en ámbitos comerciales, experiencia del cliente, lógistica, resultados financieros, entre otros.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Soluciones de Analítica Predictiva</h4>
                    <p class="text-muted">Creamos modelos que permitan realizar predicciones respecto a diferentes aspectos del negocio, con el fin de anticipar eventos críticos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Arquitectura y Gestión de datos</h4>
                    <p class="text-muted">Conexión a múltiples fuentes y estructuras de datos, depuración, integración de la información necesaria para crear soluciones de analytics.</p>
                </div>
            </div>
        </div>
    </section>
